@CHARSET "ISO-8859-1";

html,body {
	
}

div {
/*  	border: dashed;
	border-color: gray;
	border-width: 1px
 */ }

body {
	font-family: Verdana, Arial, Sans-Serif
}

td {
	vertical-align: top;
}

div#wrapper {
	width: 800px;
	margin:0 auto;
	/*float: left;*/
}

div#pnl {
/* 	width: 790px;
 */}
div#header {
	padding: 0px;
}

div#content {
	text-align: left;
}

div#loginmask {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

#footer {
	height: auto;
	clear: both;
}

div#title {
	padding: 0px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}

div#centerlayout {
	text-align: center;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}

TABLE.panelGrid {
	width: 100%;
	text-align: center;
	padding: 0px;
	margin: 0px;
	border: 0px;
}

TABLE.panelGrid TR {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

TABLE.panelGrid TR TD {
	width: 100%;
	padding: 0px;
	margin: 0px;
	border: 0px;
	border-style: none;
}

TABLE.panelGrid TR TD INPUT {
	width: 100%;
	padding: 0px;
	margin: 0px;
	border: 0px;
}

.error {
	color: red;
}

.info {
	color: green;
}

.title {
	font-size: x-large;
	font-weight: bold;
	font-family: Verdana, Arial, Sans-Serif;
}

.menubutton {
	padding: 0px;
	margin: 0px;
	-moz-box-shadow: inset 0px 1px 0px 0px #bee2f9;
	-webkit-box-shadow: inset 0px 1px 0px 0px #bee2f9;
	box-shadow: inset 0px 1px 0px 0px #bee2f9;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #63b8ee
		), color-stop(1, #468ccf));
	background: -moz-linear-gradient(center top, #63b8ee 5%, #468ccf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee',
		endColorstr='#468ccf');
	background-color: #63b8ee;
	-webkit-border-top-left-radius: 0px;
	-moz-border-radius-topleft: 0px;
	border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-moz-border-radius-topright: 0px;
	border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius-bottomright: 0px;
	border-bottom-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-bottom-left-radius: 0px;
	text-indent: 0;
	border: 0px solid #3866a3;
	display: inline-block;
	color: #14396a;
	font-family: Arial;
	font-size: 20px;
	font-weight: bold;
	font-style: normal;
	height: 65px;
	line-height: 65px;
	width: 150px;
	text-decoration: none;
	text-align: left;
	text-shadow: 1px 1px 0px #7cacde;
}

.menubutton:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #468ccf
		), color-stop(1, #63b8ee));
	background: -moz-linear-gradient(center top, #468ccf 5%, #63b8ee 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf',
		endColorstr='#63b8ee');
	background-color: #468ccf;
}

.menubutton:active {
	position: relative;
	top: 1px;
}

.ui-panelgrid tr td {
	border: 0px;
}
