DB_ROOT_PASSWORD=vbbroot
DB_NAME=vbb
DB_USER=vbb
DB_PASSWORD=vbb
SMTP_HOST=host
SMTP_PORT=port
SMTP_USERNAME=
SMTP_PASSWORD=change-me
SMTP_FROM=e
SMTP_SSL=false
SMTP_TLS=true
SMTP_SSL_TRUST=
SMTP_SSL_CHECKSERVERIDENTITY=
WILDFLY_MGMT_USER=mgmt
WILDFLY_MGMT_PASSWORD=change-me