DB_ROOT_PASSWORD=vbbroot
DB_NAME=vbb
DB_USER=vbb
DB_PASSWORD=vbb
SMTP_HOST=mail.example.netcup.net
SMTP_PORT=465
SMTP_USERNAME=mailbox@example.com
SMTP_PASSWORD=change-me
SMTP_FROM=mailbox@example.com
SMTP_SSL=true
WILDFLY_MGMT_USER=mgmt
WILDFLY_MGMT_PASSWORD=change-me
