.apt_generated/
.apt_generated_tests/
target/
.settings/
.metadata/
.gradle/
.sts4-cache/
.classpath
.project
*.log
node_modules/
dist/
coverage/
build/
frontend/.vite/
frontend/.sonar/
backend/.sonar/