<!doctype html>
<html>
<style>
	html { font-family: Arial, Helvetica, sans-serif }
</style>
<head>
</head>
<body>
<p>
Hallo $username,
</p>
<p>
du hast Dich bei der Volleyballbuchung registriert. Um zu verifizieren, dass diese Emailadresse auch wirklich Dir geh&ouml;rt, klicke bitte auf folgenden Link: 
</p>
$domain/register?regid=$regid&userid=$userid
</p>
<p>

<p>
Sch&ouml;ne Gr&uuml;&szlig;e
<br/>
Werner
</p>
 
<body>
</html>
 