<!DOCTYPE html>
<html>
	<head>
		<title>Volleyballbuchung Registrierung</title>
	</head>
	<body>
				<h1>Registrierungsfehler</h1>
				<h2>Die Registrierung war fehlerhaft, bitte verwenden Sie ausschließlich den Link aus der Email</h2>
	</body>
</html>